/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.cards {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 20px;
 align-items: center;
}
 .card {
  width: 350px;
  height: 250px;
  padding: 20px;
  background-color: rgb(248, 247, 247);
  margin-bottom: 30px;
  box-shadow: 5px 10px rgba(212, 212, 212, 0.1);
 }

 .card h1 {
  font-size: 25px;
 }

 .number {
  display: flex;
  flex-direction: row;
  gap: 10px;
 }

 .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(248, 247, 247);
  padding: 15px;
  margin-bottom: 20px;
 }


 .more-info{
  color: rgb(76, 76, 238);
  text-decoration: none;
 }

 .edit{
  color: orange;
  text-decoration: none;

 }

 .remove {
  color: red;
  text-decoration: none;
 }

 .home {
  text-decoration: none;
  color: black;
  font-size: 20px;
 }
